{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <h1>Episode {{ episode.number }} de la <a href="{{ path('program_season_show', {'program': program.id, 'season': season.id}) }}">Saison {{ season.number }}</a> de <a href="{{ path('program_show', {'id': program.id}) }}"><i>{{ program.title }}</i></a></h1>
    <p>{{ episode.synopsis }}</p>

{% endblock %}
